@{
    ViewBag.Title = "Sobre Nós";
}

<style>
    input#img {
        display: block;
        margin-top: 50px;
        margin-bottom: 50px;
        height: 400px;
    }

    p {
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
    }
</style>

<div align="center" class="row col-md-12">
    <input type="image" src="~/Content/Predio.jpeg" id="img" style="max-width:500px;" />
</div>

<h2>Sobre Nós</h2>

<p>

    Criada em meados de 2020, a empresa foi fundada por um grupo de jovens estudantes
    entusiastas e apaixonados por tecnologia.
</p>
<p>
    Temos como objetivo levar os preços a serem mais acessíveis dentro do mercado competidor,
    e visando sempre a garantia de qualidade do comprador e satisfação dos clientes.
</p>
<p>
    O nicho da empresa é a revenda de peças e acessórios de computadores de mesa(PCs)
    A Ctrlx foi criada visando oferecer sempre os melhores preços do mercado e criar
    promoçoes mais acessíveis a qualquer cliente.
    Uma das maiores virtudes da Ctrlx é a credibilidade, todas as peças são originais
    e de fornecedores de confiança, gerando tranquilidade aos usuários quando pensam
    em comprar na Ctrlx.
</p>
<p>
    A empresa não possui loja física, apenas digital, portanto, todos os produtos são
    ofertados no site oficial da loja. A Ctrlx trabalha com entregas para todo Brasil.

</p>
