@{
    ViewBag.Title = "Confirmação para resetar senha";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor, verifique seu email para resetar sua senha.
    </p>
</div>
	
